body {
  background-color: #282828;
}
a {
  text-decoration: none;
}

/* home */

main {
  background-color: #fff;
}

main .content {
  padding-top: 40px;
  padding-bottom: 40px;
}

main .pg-header {
  padding: 60px 0;
  background: #e6e6e6;
}
main .pg-header h1 {
  color: #333;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.btn-primary {
  margin-bottom: 0;
  font-size: 13px;
}

/* BREADCUMP--- */

.breadcrump {
  margin-bottom: 0;
  font-size: 13px;
}

.breadcrump a {
  color: #000;
}

@media all and(max-width:991px) {
  .breadcrump.justify-content-end {
    justify-content: flex-start !important;
  }
}

/* About */
.about h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}
.about h2::after {
  position: absolute;
  content: '';
  width: 50px;
  bottom: -6px;
  height: 2px;
  background-color: #282828;
  left: 0;
}

/* products */
.product-row .card .card-body {
  background: #f5f5f5;
}
.product-row .col-lg-4 {
  margin-bottom: 20px;
}
.product-row .card-text {
  color: #666;
  font-size: 16px;
  text-align: center;
}
.card {
  border-radius: 0;
  box-shadow: 0px 10px 10px #eee;
}
.card .card-title {
  margin-bottom: 15px;
  text-align: center;
}
.card .img-wrap {
  height: 300px;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0, 1.25);
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 1.25);
}
.card .img-wrap img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
.card .price {
  color: #0d6efd;
}
.card .btn-primary {
  font-weight: 600;
}

/* singlePriduct */

.single h2 {
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.single h2::after {
  position: absolute;
  content: '';
  width: 50px;
  background-color: #666;
  left: 0;
  bottom: -6px;
  height: 2px;
}

.single .btn-primary {
  font-weight: 600;
}

.single .price {
  font-size: 22px;
}
.single .price strong {
  color: #0d6efd;
}
